body{
        margin: 0;
    }
a {
    color: black;
    text-decoration: none;
}   
    
h1 {
    font-size: 55px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 20px;
}
ol{
    font-size: 25px;
    width: 110px;
    margin: 0px;
    padding: 20px;
}

#grid{
    display: grid;
    grid-template-columns: 170px 1fr;

}

#grid ol{
    padding-left: 33px;
    margin: 0;
        }

#grid #article{
    padding-left: 40px;
    border-left: 1px solid black;
    
}
@media(max-width: 800px){
    #grid{
        display: block;
    }
    ol{
    border-right: none;
        }
    h1 { 
    border-bottom: none;
       }

    }


